@using AuctionWebApp.ViewModels

<div style="width: 80%; margin: 0 auto; margin-top: 40px;">
	<MudTable @ref="table"
			  T="PreviewAuctionViewModel"
			  ServerData="LoadAuctions"
			  RowsPerPage="5"
			  Hover="true" Bordered="true"
			  Style="background-color: #f5f7fa; border: 1px solid #ddd; border-radius: 8px;">
		<HeaderContent>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">Id</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">Title</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">Image</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">Current Price</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">End Time</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;">Status</MudTh>
			<MudTh Style="border: 1px solid grey; text-align: center; vertical-align: middle;"></MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Id" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.Id</MudTd>
			<MudTd DataLabel="Title" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.Title</MudTd>
			<MudTd DataLabel="Image" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">
				@if (context.Images.FirstOrDefault() != null)
				{
					var img = context.Images.FirstOrDefault();
					<img src="@($"{AppSettings.ApiUrl}{img.ImageUrl}")" alt="Auction Image" width="100" />
				}
				else
				{
					<MudAvatar Size="Size.Medium" Icon="@Icons.Material.Filled.ImageNotSupported" />
				}
			</MudTd>
			<MudTd DataLabel="Current Price" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.CurrentPrice</MudTd>
			<MudTd DataLabel="End Time" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.EndTime.ToLocalTime().ToString("g")</MudTd>
			<MudTd DataLabel="Status" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.Status.ToString()</MudTd>
			<MudTd DataLabel="" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">
				@if (!string.IsNullOrEmpty(NavigateUrl))
				{
					<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => NavigateToUrl(context.Id)">
						@NavigationButtonName
					</MudButton>
				}
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager PageSizeOptions="@RowsPerPageOptions" />
		</PagerContent>
	</MudTable>
</div>

