<h1 class="text-center mt-10 mb-20">Categories</h1>

<MudTable Items="categories"
		  Style="background-color: #f5f7fa; border: 1px solid #ddd; border-radius: 8px;"
		  Hover="true"
		  Loading="@_loading"
		  Breakpoint="Breakpoint.Sm"
		  LoadingProgressColor="Color.Info">
	<HeaderContent>
		<MudTh Style="width: 33%; border: 1px solid grey;">Id</MudTh>
		<MudTh Style="width: 33%; border: 1px solid grey;">Name</MudTh>
		<MudTh Style="width: 33%; border: 1px solid grey;">Image</MudTh>
	</HeaderContent>
	<RowTemplate>
		<MudTd DataLabel="Id" Style="width: 33%; border: 1px solid grey;">@context.Id</MudTd>
		<MudTd DataLabel="Name" Style="width: 33%; border: 1px solid grey;">@context.Name</MudTd>
		<MudTd DataLabel="Image" Style="width: 33%; border: 1px solid grey;">
			@if (!string.IsNullOrEmpty(context.ImageUrl))
			{
				<img src="@($"{AppSettings.ApiUrl}{context.ImageUrl}")"
					 class="img-thumbnail"
					 style="width: 100px; height: auto;" />
			}
			else
			{
				<MudAvatar Size="Size.Medium"
						   Icon="@Icons.Material.Filled.ImageNotSupported" />
			}
		</MudTd>
	</RowTemplate>
</MudTable>




