<h1 class="text-center mt-10 mb-20">Drivers</h1>

<div style="width: 80%; margin: 0 auto; margin-top: 40px;">
	<MudTable Items="drivers"
			  Style="background-color: #f5f7fa; border: 1px solid #ddd; border-radius: 8px;"
			  Hover="true"
			  Loading="@_loading"
			  Breakpoint="Breakpoint.Sm"
			  LoadingProgressColor="Color.Info">
		<HeaderContent>
			<MudTh Style="width: 45%; border: 1px solid grey; text-align: center; vertical-align: middle;">Id</MudTh>
			<MudTh Style="width: 45%; border: 1px solid grey; text-align: center; vertical-align: middle;">Email</MudTh>
			<MudTh Style="width: 10%; border: 1px solid grey; text-align: center; vertical-align: middle;">Delete</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Id" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.Id</MudTd>
			<MudTd DataLabel="Email" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">@context.Email</MudTd>
			<MudTd DataLabel="Delete" Style="border: 1px solid grey; text-align: center; vertical-align: middle;">
				<MudIconButton Icon="@Icons.Material.Filled.Delete"
							   Color="Color.Error"
							   Size="Size.Small"
							   OnClick="@(() => DeleteDriverAsync(context.Id))"
							   AriaLabel="Delete Admin" />
			</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudTablePager PageSizeOptions="@RowsPerPageOptions" />
		</PagerContent>
	</MudTable>
</div>




