@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/request-password-reset"

<NavigationComponent Url="@ReturnUrl"></NavigationComponent>

<MudPaper Elevation="4" 
		  Class="mx-auto d-flex flex-column gap-4 mt-20"
		  Style="max-width: 500px; padding: 50px">
	<MudText Typo="Typo.h5" Class="mb-10 text-center">Forgot your password?</MudText>
	@if (!string.IsNullOrWhiteSpace(SuccessMessage))
	{
		<MudAlert Severity="Severity.Success">@SuccessMessage</MudAlert>
	}
	else
	{
		<EditForm Model="resetModel" OnValidSubmit="SubmitRequestAsync">
			<DataAnnotationsValidator />
			<MudTextField @bind-Value="resetModel.Email"
						  Label="Email"
						  For="@(() => resetModel.Email)"
						  Required="true"
						  Immediate="true"
						  Variant="Variant.Filled"
						  Class="mb-4"
						  Validation="@(new Func<string?, string?>(ValidateEmail))" />

			<MudButton Type="Button"
					   Variant="Variant.Filled"
					   Color="Color.Primary"
					   Disabled="@isSubmitting"
					   OnClick="SubmitRequestAsync"
					   FullWidth="true">
				@if (isSubmitting)
				{
					<MudProgressCircular Indeterminate="true" Size="Size.Medium" Class="mr-2" Color="Color.Inherit" />
					<p>Sending...</p>
				}
				else
				{
					<p>Send Reset Link</p>
				}
			</MudButton>
		</EditForm>
	}
</MudPaper>
