@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/my-bids"
@attribute [Authorize(Roles = "User")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	@if (showErrorComponent)
	{
		<ErrorComponent></ErrorComponent>
	}
	else
	{
		<UserNavigationBarComponent></UserNavigationBarComponent>

		<h1 class="text-center mt-15 mb-15">My Bids</h1>

		<div style="width: 80%; margin: 0 auto; margin-top: 40px;">
			<MudSelect T="AuctionStatus?"
					   Value="@myBidsAuctionFilter.Status"
					   ValueChanged="HandleBidStatusFilterChanged"
					   Label="Auction Status"
					   Dense="true"
					   Class="mb-4">

				<MudSelectItem T="AuctionStatus?"
							   Value="@((AuctionStatus?)null)">
					All
				</MudSelectItem>

				@foreach (AuctionStatus status in Enum.GetValues(typeof(AuctionStatus)))
				{
					<MudSelectItem T="AuctionStatus?"
								   Value="@(status)">
						@status.ToString()
					</MudSelectItem>
				}
			</MudSelect>
		</div>

		<div class="mb-10">
			<AuctionsTableComponent @ref="bidsAuctionsTable"
									NavigateUrl="@bidAuctionUrl"
									NavigationButtonName="View"
									Filter="myBidsAuctionFilter"></AuctionsTableComponent>
		</div>
	}
}