@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@namespace AuctionWebApp.Pages

@page "/user/my-listings"
@attribute [Authorize(Roles = "User")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	@if (showErrorComponent)
	{
		<ErrorComponent></ErrorComponent>
	}
	else
	{
		<UserNavigationBarComponent></UserNavigationBarComponent>
		<h1 class="text-center mt-15 mb-15">My Listings</h1>

		<div class="auction-toolbar">
			<MudButton Color="Color.Primary"
					   Variant="Variant.Filled"
					   StartIcon="@Icons.Material.Filled.Add"
					   OnClick="NavigateToCreateAuctionPage">
				Create New Auction
			</MudButton>

			<div class="auction-dropdown">
				<MudSelect T="AuctionStatus?"
						   Value="@myListingsAuctionFilter.Status"
						   ValueChanged="HandleListingStatusFilterChanged"
						   Label="Auction Status"
						   Dense="true"
						   Class="mb-4">
					<MudSelectItem T="AuctionStatus?" Value="@((AuctionStatus?)null)">
						All
					</MudSelectItem>

					@foreach (AuctionStatus status in Enum.GetValues(typeof(AuctionStatus)))
					{
						<MudSelectItem T="AuctionStatus?" Value="@(status)">
							@status.ToString()
						</MudSelectItem>
					}
				</MudSelect>
			</div>	
		</div>

		<div class="mb-10">
			<AuctionsTableComponent @ref="listingsAuctionsTable"
									NavigateUrl="@viewAuctionUrl"
									NavigationButtonName="view"
									Filter="myListingsAuctionFilter"></AuctionsTableComponent>
		</div>
	}
}