@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PageTitle>Not authorized</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert" class="text-danger">
                            You’re not allowed to see this page.
                        </p>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
