@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components
@using AuctionWebApp.Enums

@page "/admin-dashboard"
@attribute [Authorize(Roles = "Admin,SuperAdmin")]

@if (isLoading)
{
	<MudProgressCircular Color="Color.Primary"
						 Indeterminate="true"
						 Class="d-flex mx-auto mt-12" />
}
else
{
	<MudTabs Class="full-screen-tabs"
			 Style="width:100vw; height:100vh; margin:0; padding:0;"
			 Centered="true"
			 Elevation="0"
			 Rounded="false"
			 Bordered="false"
			 ApplyEffectsToContainer="false"
			 PanelClass="pa-6"
			 Color="Color.Primary">
		<MudTabPanel Text="Home">
			<h1 class="text-center mt-10 mb-20">Welcome to admin dashboard</h1>
			<div class="d-flex justify-content-center mt-4">
				<LogoutComponent />
			</div>
		</MudTabPanel>
		<MudTabPanel Text="Categories">
			<h1 class="text-center mt-10 mb-20">Categories</h1>
			<CategoriesTableComponent></CategoriesTableComponent>
		</MudTabPanel>
		@if (isSuperAdmin)
		{
			<MudTabPanel Text="Admins">
				<h1 class="text-center mt-10 mb-20">Admins</h1>
				<AdminsTableComponent></AdminsTableComponent>
			</MudTabPanel>
		}
		<MudTabPanel Text="Drivers">
			<h1 class="text-center mt-10 mb-20">Drivers</h1>
			<DriversTableComponent></DriversTableComponent>
		</MudTabPanel>
		<MudTabPanel Text="Auctions">
			<h1 class="text-center mt-10 mb-20">Auctions with Driver</h1>

			<div style="width: 80%; margin: 0 auto; margin-top: 40px;">
				<MudSelect T="DriverFilterMode"
						   Value="@auctionFilter.DriverFilterMode"
						   ValueChanged="HandleDriverFilterChanged"
						   Label="Driver Filter"
						   Dense="true"
						   Class="mb-4">

					<MudSelectItem T="DriverFilterMode"
								   Value="@DriverFilterMode.Ignore">
						@DriverFilterMode.Ignore
					</MudSelectItem>

					<MudSelectItem T="DriverFilterMode"
								   Value="@DriverFilterMode.AnyDriver">
						@DriverFilterMode.AnyDriver
					</MudSelectItem>

					<MudSelectItem T="DriverFilterMode"
								   Value="@DriverFilterMode.NoDriver">
						@DriverFilterMode.NoDriver
					</MudSelectItem>
				</MudSelect>
			</div>

			<AuctionsTableComponent @ref="auctionsTable"
									Filter="auctionFilter"
									NavigateUrl="@navigateUrl"
									NavigationButtonName="@navigationButtonName"></AuctionsTableComponent>
		</MudTabPanel>
	</MudTabs>
}

