@using AuctionWebApp.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using AuctionWebApp.Components

@page "/user-dashboard"
@attribute [Authorize(Roles = "User")]

<MudTabs Class="full-screen-tabs"
		 Style="width:100vw; height:100vh; margin:0; padding:0;"
		 Centered="true"
		 Elevation="0"
		 Rounded="false"
		 Bordered="false"
		 ApplyEffectsToContainer="false"
		 PanelClass="pa-6"
		 Color="Color.Primary">
	<MudTabPanel Text="Home">
		<h1 class="text-center mt-10 mb-20">Welcome to user dashboard</h1>
		<div class="d-flex justify-content-center mt-4">
			<LogoutComponent />
		</div>
	</MudTabPanel>
	<MudTabPanel Text="Browse Auctions">
		<h1 class="text-center mt-10 mb-20">Browse Auctions</h1>
	</MudTabPanel>
	<MudTabPanel Text="	My Listings">
		<h1 class="text-center mt-10 mb-20">My Listings</h1>
	</MudTabPanel>
	<MudTabPanel Text="	My Bids">

		<div style="width: 80%; margin: 0 auto; margin-top: 40px;">
			<MudSelect T="AuctionStatus?"
					   Value="@myBidsAuctionFilter.Status"
					   ValueChanged="HandleBidStatusFilterChanged"
					   Label="Auction Status"
					   Dense="true"
					   Class="mb-4">

				<MudSelectItem T="AuctionStatus?"
							   Value="@((AuctionStatus?)null)">
					All
				</MudSelectItem>

				@foreach (AuctionStatus status in Enum.GetValues(typeof(AuctionStatus)))
				{
					<MudSelectItem T="AuctionStatus?"
								   Value="@(status)">
						@status.ToString()
					</MudSelectItem>
				}
			</MudSelect>
		</div>

		<AuctionsTableComponent @ref="bidAuctionsTable"
								NavigateUrl="@bidAuctionUrl"
								NavigationButtonName="View"
								Filter="myBidsAuctionFilter"></AuctionsTableComponent>
	</MudTabPanel>
</MudTabs>